.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  height: 30px;
}

.App-header {
  display: grid;
  grid-template-columns: 10vw 82vw;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  width: 100vw;
  z-index: 9;
}

.App-link {
  color: #61dafb;
}
.burguerButton {
  position: fixed;
  right: 1vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
