.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.burguerButton {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  padding: 0;
}
.burguerButton div {
  height: 5px;
  width: 100%;
  display: block;
  margin: 5px;
  background: white;
  transition: 0.5s;
}
.burguerButton:hover div:first-child {
  transform: translateY(10px) rotateZ(135deg);
}
.burguerButton:hover :last-child {
  transform: translateY(-10px) rotateZ(45deg);
}
