.viewContainer {
  position: relative;
  * {
    transition: 1s ease-in;
  }
  .bgText {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 70vw;
    margin: auto;
    main {
      color: #333;
      text-align: justify;
      padding: 3rem;
      text-align: justify;
    }
  }
  .bgImg {
    height: 100vh;
    width: 100vw;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-color: black !important;
    background-size: cover !important;
    transform: skewY(7deg);
  }
  .fancyHeader {
    font-size: 28rem;
    text-shadow: 6px 9px 13px #33e3ff;
    color: white;
    display: grid;
    height: 100vh;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    background: #000000bd;
    mix-blend-mode: darken;
    cursor: default;
    font-weight: bolder;
  }
}
