.viewContainer {
  position: relative;
  display: grid;
  * {
    transition: 0.5s ease-in;
  }
  .bgText {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 70vw;
    margin: auto;
    font-family: "Roboto", sans-serif;
    & main {
      color: #333;
      text-align: justify;
      padding: 3rem;
      text-align: justify;
    }
  }
  .bgImg {
    cursor: pointer;
    height: 15vh;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .fancyHeader {
    font-size: 5vw;
    text-shadow: 6px 9px 13px #333;
    color: white;
    display: grid;
    height: 100%;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    font-family: "Baloo Da", cursive;
  }
}
.mini {
  grid-template-rows: 33.33vh;
  grid-template-columns: 70vw 30vw;
  .bgImg,
  .bgText {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    position: relative;
    .fancyHeader {
      height: 100%;
      font-size: 4rem;
    }
  }
  .bgImg {
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: linear-gradient(-90deg, white, 15%, rgba(0, 0, 0, 0));
    }
    &:hover {
      //grid-column: 2 / 1 !important;
      width: 100vw;
    }
  }
  &:nth-child(odd) {
    grid-template-columns: 30vw 70vw;
    .bgImg {
      grid-column: 2 / 2;
      &::before {
        background: linear-gradient(90deg, white, 15%, rgba(0, 0, 0, 0));
      }
    }
    .bgText {
      grid-column: 1/1;
      grid-row: 1/1;
    }
  }
}
.front {
  height: 100vh;
  .bgText {
    position: absolute;
    z-index: 2;

    top: 23rem;
    bottom: 0;
    margin: auto;
    height: 300px;
    right: 0;
    left: 0;
    main {
      color: white;
      text-shadow: 2px 2px 2px #333;
    }
  }
  .bgImg {
    height: 100vh;
    &::after {
      content: "V";
      position: absolute;
      top: 94vh;
      color: white;
      text-shadow: 1px 1px 1px #000;
      font-size: 3rem;
    }
  }
}
